<div>
  <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? 'NaN' : null" name="patientInfoForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :

          (!patientName.valid && showErrorAlert('User name is required', 'Please enter a patient name (minimum of 2 and maximum of 200 characters)'));
">

   <div class="row">
     <div class="col-md-4">

      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="fullName-{{uniqueId}}">{{'patients.editor.FullName' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.fullName}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="fullName-{{uniqueId}}" name="fullName" placeholder="Enter full name" class="form-control" [(ngModel)]="patientEdit.fullName" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
      </div>


      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="dateOfBirth-{{uniqueId}}">{{'patients.editor.DateOfBirth' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.dateOfBirth}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text"  bsDatepicker attr.id="dateOfBirth-{{uniqueId}}" name="dateOfBirth" placeholder="Enter DoB" class="form-control" [(ngModel)]="patientEdit.dateOfBirth" />
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
      </div> -->
  
  

     </div>

     <div class="col-md-4">
      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="phoneNumber-{{uniqueId}}">{{'patients.editor.PhoneNumber' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.phoneNumber}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="phoneNumber-{{uniqueId}}" name="phoneNumber" placeholder="Enter phone number" class="form-control" [(ngModel)]="patientEdit.phoneNumber" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
      </div>


      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="gender-{{uniqueId}}">{{'patients.editor.Gender' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.gender}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="gender-{{uniqueId}}" name="gender" placeholder="Enter gender" class="form-control" [(ngModel)]="patientEdit.gender" />
        </div>
      </div>

     

      <!-- <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
      </div> -->
  
     
  

     </div>

     <div class="col-md-4">

      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="emailAddress-{{uniqueId}}">{{'patients.editor.EmailAddress' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.emailAddress}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="emailAddress-{{uniqueId}}" name="emailAddress" placeholder="Enter email" class="form-control" [(ngModel)]="patientEdit.emailAddress" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
      </div>
  

      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="placeOfResidence-{{uniqueId}}">{{'patients.editor.PlaceOfResidence' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.placeOfResidence}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <!-- <input type="text"   attr.id="placeOfResidence-{{uniqueId}}" name="placeOfResidence" placeholder="Enter PlaceOf Residence" class="form-control" [(ngModel)]="patientEdit.placeOfResidence" /> -->
          <textarea attr.id="placeOfResidence-{{uniqueId}}" name="placeOfResidence" placeholder="Enter PlaceOf Residence" class="form-control" [(ngModel)]="patientEdit.placeOfResidence"  rows="2"></textarea>
        </div>
      </div>   
  

     </div>


   </div>
   <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
    </div>
    <div class="row" >
      <div class="col-md-4">
        <div class="form-group row">
          <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="disabilityGroup-{{uniqueId}}">{{'patients.editor.DisabilityGroup' | translate}}</label>
          <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
            <p class="form-control-plaintext">{{patient.disabilityGroup}}</p>
          </div>
          <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
            <input type="text" attr.id="disabilityGroup-{{uniqueId}}" name="disabilityGroup" placeholder="Enter Disability Group" class="form-control" [(ngModel)]="patientEdit.disabilityGroup" />
          </div>
        </div>
     
  
      </div>
 
      <div class="col-md-4">
       <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="disability-{{uniqueId}}">{{'patients.editor.Disability' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.disability}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <!-- <input type="text" attr.id="disability-{{uniqueId}}" name="disability" placeholder="Enter disability" class="form-control" [(ngModel)]="patientEdit.disability" /> -->
          <textarea attr.id="disability-{{uniqueId}}" name="disability" placeholder="Enter disability" class="form-control" [(ngModel)]="patientEdit.disability" rows="2"></textarea>
        </div>
      </div> 
 
       
      
   
 
      </div>
 
      <div class="col-md-4">
 
       <div class="form-group row">
         <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="hearingSpeechDiction-{{uniqueId}}">{{'patients.editor.HearingSpeechDiction' | translate}}</label>
         <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
           <p class="form-control-plaintext">{{patient.hearingSpeechDiction}}</p>
         </div>
         <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
           <!-- <input type="text" attr.id="hearingSpeechDiction-{{uniqueId}}" name="hearingSpeechDiction" placeholder="Enter Hearing /Speech /Diction" class="form-control" [(ngModel)]="patientEdit.hearingSpeechDiction" /> -->
           <textarea class="form-control"  attr.id="hearingSpeechDiction-{{uniqueId}}" name="hearingSpeechDiction" placeholder="Enter Hearing /Speech /Diction" class="form-control" [(ngModel)]="patientEdit.hearingSpeechDiction" rows="2"></textarea>
         </div>
       </div>
 
   
     
   
 
      </div>
 
 
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
  </div>

  <div class="row">
    <div class="col-md-4">

     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="education-{{uniqueId}}">{{'patients.editor.Education' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.education}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <input type="text" attr.id="education-{{uniqueId}}" name="education" placeholder="Enter education level" class="form-control" [(ngModel)]="patientEdit.education" />
       </div>
     </div> 

     <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
      </div>

      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="languages-{{uniqueId}}">{{'patients.editor.Languages' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.languages}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="languages-{{uniqueId}}" name="languages" placeholder="Enter languages " class="form-control" [(ngModel)]="patientEdit.languages" />
        </div>
      </div> 

    </div>

    <div class="col-md-4">
      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="motivation-{{uniqueId}}">{{'patients.editor.Motivation' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.motivation}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="motivation-{{uniqueId}}" name="motivation" placeholder="Enter Motivation" class="form-control" [(ngModel)]="patientEdit.motivation" />
        </div>
      </div>
     

     <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
     </div>
     <div class="form-group row">
      <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="training-{{uniqueId}}">{{'patients.editor.Training' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <p class="form-control-plaintext">{{patient.training}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <textarea class="form-control"  attr.id="training-{{uniqueId}}" name="training" placeholder="Enter Trainings" class="form-control" [(ngModel)]="patientEdit.training" rows="2"></textarea>
      </div>
    </div>

    

     
    
 

    </div>

    <div class="col-md-4">

     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="pcKnowledge-{{uniqueId}}">{{'patients.editor.PCKnowledge' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.pcKnowledge}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <input type="text" attr.id="pcKnowledge-{{uniqueId}}" name="pcKnowledge" placeholder="Enter PC Knowledge" class="form-control" [(ngModel)]="patientEdit.pcKnowledge" />
       </div>
     </div>

 
   
 

    </div>


  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="desiredWorkingConditions-{{uniqueId}}">{{'patients.editor.DesiredWorkingConditions' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.desiredWorkingConditions}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <!-- <input type="text" attr.id="desiredWorkingConditions-{{uniqueId}}" name="desiredWorkingConditions" placeholder="Enter Desired Working Conditions" class="form-control" [(ngModel)]="patientEdit.desiredWorkingConditions" /> -->
         <textarea class="form-control" attr.id="desiredWorkingConditions-{{uniqueId}}" name="desiredWorkingConditions" placeholder="Enter Desired Working Conditions" class="form-control" [(ngModel)]="patientEdit.desiredWorkingConditions"  rows="2"></textarea>
       </div>
     </div> 

    
  

    </div>

    <div class="col-md-6">
     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="desiredVacancy-{{uniqueId}}">{{'patients.editor.DesiredVacancy' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.desiredVacancy}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <textarea class="form-control"  attr.id="desiredVacancy-{{uniqueId}}" name="desiredVacancy" placeholder="Enter Desired Vacancy" class="form-control" [(ngModel)]="patientEdit.desiredVacancy"   rows="2"></textarea>
         
        <!-- <input type="text" attr.id="desiredVacancy-{{uniqueId}}" name="desiredVacancy" placeholder="Enter Desired Vacancy" class="form-control" [(ngModel)]="patientEdit.desiredVacancy" /> -->
       </div>
     </div>
    </div>

  </div>






  <div class="row">
    <div class="col-lg-12">
      <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
    </div>
   </div>

   <div class="row">
    <div class="col-md-6">
     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="employmentStatus-{{uniqueId}}">{{'patients.editor.EmploymentStatus' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.employmentStatus}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <input type="text" attr.id="employmentStatus-{{uniqueId}}" name="employmentStatus" placeholder="Enter Employment Status" class="form-control" [(ngModel)]="patientEdit.employmentStatus" />
       </div>
     </div> 

     <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
      </div>

      <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="employmentDate-{{uniqueId}}">{{'patients.editor.EmploymentDate' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.employmentDate}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="employmentDate-{{uniqueId}}" name="employmentDate" placeholder="Enter Employment Date " class="form-control" [(ngModel)]="patientEdit.employmentDate" />
        </div>
      </div> 

      <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
     </div>

     <div class="form-group row">
      <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="availability-{{uniqueId}}">{{'patients.editor.Availability' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <p class="form-control-plaintext">{{patient.availability}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <input type="text" attr.id="availability-{{uniqueId}}" name="availability" placeholder="Enter Availability" class="form-control" [(ngModel)]="patientEdit.availability" />
      </div>
       <!-- <div *ngIf="isGeneralEditor && isEditMode" class="float-left">
        <div class="form-check user-enabled">
          <input class="form-check-input" type="checkbox" id="idEnabled" name="isEnabled" [(ngModel)]="patientEdit.isEnabled">
          <label for="idEnabled" class="form-check-label">{{'patients.editor.Enabled' | translate}}</label>
        </div>
        <button *ngIf="patientEdit.isLockedOut" type="button" (click)="unlockPaient()" class="btn btn-warning unblock-user" [disabled]="isSaving"><i class='fa fa-unlock-alt'></i> {{'patients.editor.Unblock' | translate}}</button>
      </div> -->
    </div>

    </div>

    <div class="col-md-6">
     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="employmentDescription-{{uniqueId}}">{{'patients.editor.EmploymentDescription' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.employmentDescription}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <!-- <input type="text" attr.id="employmentDescription-{{uniqueId}}" name="employmentDescription" placeholder="Enter Employment Description" class="form-control" [(ngModel)]="patientEdit.employmentDescription" /> -->
         <textarea class="form-control" attr.id="employmentDescription-{{uniqueId}}" name="employmentDescription" placeholder="Enter Employment Description" class="form-control" [(ngModel)]="patientEdit.employmentDescription" rows="2"></textarea>
       </div>
     </div>

     <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
     </div>

   
     
     <div class="form-group row">
      <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="formOfEmployment-{{uniqueId}}">{{'patients.editor.FormOfEmployment' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <p class="form-control-plaintext">{{patient.formOfEmployment}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
        <input type="text" attr.id="formOfEmployment-{{uniqueId}}" name="formOfEmployment" placeholder="Enter Form Of Employment" class="form-control" [(ngModel)]="patientEdit.formOfEmployment" />
      </div>
    </div>

    </div>

   


  </div>

  <div class="row">
    <div class="col-lg-12">
      <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
    </div>
   </div>


   <div class="row">
    <div class="col-md-6">

     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="deadLineOfSupport-{{uniqueId}}">{{'patients.editor.DeadLineOfSupport' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.deadLineOfSupport}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <input type="text" bsDatepicker attr.id="deadLineOfSupport-{{uniqueId}}" name="deadLineOfSupport" placeholder="Enter Dead Line Of Support" class="form-control" [(ngModel)]="patientEdit.deadLineOfSupport" />
       </div>
     </div> 

     <div class="row">
      <div class="col-lg-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
     </div>

       <div class="form-group row">
        <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="responsiblePerson-{{uniqueId}}">{{'patients.editor.ResponsiblePerson' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <p class="form-control-plaintext">{{patient.responsiblePerson}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
          <input type="text" attr.id="responsiblePerson-{{uniqueId}}" name="pcKnowledge" placeholder="Enter Responsible Person" class="form-control" [(ngModel)]="patientEdit.responsiblePerson" />
        </div>
      </div>


    </div>

    <div class="col-md-6">
     <div class="form-group row">
       <label [class.col-lg-5]="isViewOnly" [class.col-lg-4]="!isViewOnly" class="col-form-label" for="additionalInfo-{{uniqueId}}">{{'patients.editor.AdditionalInfo' | translate}}</label>
       <div *ngIf="!isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <p class="form-control-plaintext">{{patient.additionalInfo}}</p>
       </div>
       <div *ngIf="isEditMode" [class.col-lg-7]="isViewOnly" [class.col-lg-8]="!isViewOnly">
         <!-- <input type="text" attr.id="additionalInfo-{{uniqueId}}" name="additionalInfo" placeholder="Enter Additional Info" class="form-control" [(ngModel)]="patientEdit.additionalInfo" /> -->
         <textarea class="form-control" attr.id="additionalInfo-{{uniqueId}}" name="additionalInfo" placeholder="Enter Additional Info" class="form-control" [(ngModel)]="patientEdit.additionalInfo"  rows="2"></textarea>
       </div>
     </div>

   
     
    
 

    </div>

   


  </div>



  

  <div *ngIf="!isViewOnly" class="form-group row">
    <div class="col-sm-5">
      <!-- <div *ngIf="isGeneralEditor && isEditMode" class="float-left">
        <div class="form-check user-enabled">
          <input class="form-check-input" type="checkbox" id="idEnabled" name="isEnabled" [(ngModel)]="patientEdit.isEnabled">
          <label for="idEnabled" class="form-check-label">{{'patients.editor.Enabled' | translate}}</label>
        </div>
        <button *ngIf="patientEdit.isLockedOut" type="button" (click)="unlockPaient()" class="btn btn-warning unblock-user" [disabled]="isSaving"><i class='fa fa-unlock-alt'></i> {{'patients.editor.Unblock' | translate}}</button>
      </div> -->
    </div>
    <div class="col-sm-7">
      <div ngPreserveWhitespaces class="float-right">
        <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-outline-secondary"><i class='fa fa-close'></i> {{'patients.editor.Close' | translate}}</button>
        <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-outline-secondary"><i class='fa fa-edit'></i> {{'patients.editor.Edit' | translate}}</button>
        <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'patients.editor.Cancel' | translate}}</button>
        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
          <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('patients.editor.Saving' | translate) : ('patients.editor.Save' | translate)}}
        </button>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>


  
  </form>
</div>
