<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Rehabilitations' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <span class="text-muted">-- Sample Page --</span>
    </div>
</div>
